**1. Reverse a String**

In [2]:
def reverse_string(s):
    return s[::-1]
reverse_string('pavan')

'navap'

**2. Check if a Number is Prime**

In [3]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n*0.5) + 1):
        if n % i == 0:
            return False
    return True
is_prime(3)

True

In [4]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2,n):
        if n % i == 0:
            return False
    return True
is_prime(3)

True

**3. Factorial of a Number**

In [5]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)
factorial(5)

120

In [6]:
def factorial(n):
  if n == 0:
    return 1
  total = 1
  for i in range(1,n+1):
    total = total * i
  return total
factorial(5)

120

**4. Fibonacci Sequence**

In [7]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
fibonacci(5)

0 1 1 2 3

In [8]:
def fibonacci(n):
  a = 0
  b = 1
  for i in range(n):
    print(a,end=" ")
    a,b = b,a+b
fibonacci(5)

0 1 1 2 3

**5. Largest Element in a List**

In [9]:
def find_largest(lst):
    return max(lst)
s = [80,12,13,17,108,12]
find_largest(s)

108

In [10]:
def find_largest(lst):
  max_num = lst[0]
  for i in lst:
    if i>max_num:
      max_num = i
  return max_num
s = [80,12,13,17,108,12]
find_largest(s)

108

**6. Check for Palindrome String**

In [57]:
def is_palindrome(s):
  s =s.lower()
  return s == s[::-1]

s = 'pavan'
is_palindrome(s)

False

**7. Count Vowels in a String**

In [58]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)
s = "Pavan"
count_vowels(s)

2

In [59]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    total = 0
    for i in vowels:
      if i in s:
        total+=1
    return total
s = "Pavan"
count_vowels(s)

1

**8. Check if Two Strings are Anagrams**

In [60]:
def are_anagrams(str1, str2):
  if len(str1)!=len(str2):
    return False
  return sorted(str1) == sorted(str2)
str1 = 'listen'
str2 = 'silent'
are_anagrams(str1,str2)

True

In [61]:
str1 = 'hello'
str2 = 'world'
are_anagrams(str1,str2)

False

**9. Second Largest Element in a List**

In [62]:
def second_largest(lst):
    first, second = float('-inf'), float('-inf')
    for num in lst:
        if num > first:
            second = first
            first = num
        elif first > num > second:
            second = num
    return second_largest
lst = [5,10,89,24,75,100]
print(second_largest(lst))

<function second_largest at 0x0000017316717920>

In [63]:
def second_largest(lst):
  sorted_list = sorted(lst)
  return sorted_list[-2]
lst = [5,10,89,24,75,100]
print(second_largest(lst))

89

**10. Remove Duplicates from a List**

In [64]:
def remove_duplicates(lst):
    return list(set(lst))
lst = [5,10,89,5,24,75,5,100]
print(sorted(remove_duplicates(lst)))

[5, 10, 24, 75, 89, 100]

**11. Sum of Digits of a Number**

In [65]:
def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))
sum_of_digits('123')

6

In [66]:
def sum_of_digits(n):
  total = 0
  for i in n: #for i in range(len(n)+1):
    total += int(i)
  return total
sum_of_digits('123')

6

**12. Merge Two Sorted Lists**

In [67]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)
lst1 = [3,10,4,5,20]
lst2 = [12,30,15,40,2]
merge_sorted_lists(lst1, lst2)

[2, 3, 4, 5, 10, 12, 15, 20, 30, 40]

**13. Check for Armstrong Number**

In [68]:
def is_armstrong(n):
    num_str = str(n)
    num_len = len(num_str)
    return int(n) == sum(int(digit)**num_len for digit in num_str)
is_armstrong('407')

True

In [69]:
def is_armstrong(n):
  total = 0
  for i in n:
    total += int(i)**len(n)
  return int(n)==total
is_armstrong('407')

True

**14. Find Intersection of Two Lists**

In [70]:
def list_intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))
lst1 = [1,2,3,4,5]
lst2 = [2,3,6,7,8]
list_intersection(lst1, lst2)

[2, 3]

In [71]:
def list_intersection(lst1, lst2):
  intersection = set(lst1)&(set(lst2))
  # intersection = set(lst1).intersection(set(lst2))
  return list(intersection)
lst1 = [1,2,3,4,5]
lst2 = [2,3,6,7,8]
list_intersection(lst1, lst2)

[2, 3]

**15. GCD of Two Numbers**

In [72]:
import math
def gcd(a, b):
    return math.gcd(a, b)
gcd(48,18)

6

In [73]:
def gcd(a,b):
  if a<b:
    raise "ValueError"
  if a>=b:
    while b!=0:
      a,b = b,a%b
  return a
gcd(48,18)

6

**16. Find the Length of a List**

In [74]:
def list_length(lst):
    return len(lst)
lst = [1,2,3,4,5]
list_length(lst)

5

**17. Binary Search**

In [75]:
def binary_search(lst, target):
    low, high = 0, len(lst) - 1
    while low <= high:
        mid = (low + high) // 2
        if lst[mid] == target:
            return mid
        elif lst[mid] < target:
            low = mid + 1
        else:
            high = mid - 1
    return -1
lst = [2, 5, 8, 12, 16, 23, 38, 56, 72, 91]
target = 38
binary_search(lst,target)

6

In [76]:
def binary_search(lst, target):
  lst = sorted(lst)
  index_list = []
  for index,iterator in enumerate(lst):
    if iterator==target:
      index_list.append(index)
  return  index_list
lst = [2, 5, 8, 12, 16, 23, 23, 38, 56, 72, 91]
target = 23
binary_search(lst,target)

[5, 6]

**22. Find Missing Number in a List**

In [77]:
def find_missing(lst, n):
    return n * (n + 1) // 2 - sum(lst)
lst = [1,2,3,4,5,6,7,8,10]
n = max(lst)
find_missing(lst, n)

9

**23. Find Duplicates in a List**

In [78]:
def find_duplicates(lst):
    return list(set([x for x in lst if lst.count(x) > 1]))
lst = [1,2,1,3,4,2,5]
find_duplicates(lst)

[1, 2]

In [79]:
def find_duplicates(lst):
  duplicates = []
  for i in lst:
    if lst.count(i)>1:
      duplicates.append(i)
  return list(set(duplicates))
lst = [1,2,1,3,4,2,5]
find_duplicates(lst)

[1, 2]

**24. Check if a List is Sorted**

In [80]:
def is_sorted(lst):
    return lst == sorted(lst)
lst = [12,30,15,40,2]
is_sorted(lst)

False

In [81]:
lst = [1,2,3,4,5]
is_sorted(lst)

True

**25. Rotate a List by n Positions**

In [82]:
def rotate_list(lst, n):
    return lst[n:] + lst[:n]
lst = [1,2,3,4,5]
n = 3
rotate_list(lst, n)

[4, 5, 1, 2, 3]

**26. Find All Subsets of a Set**

In [83]:
def subsets(lst):
    result = [[]]
    for num in lst:
        result += [item + [num] for item in result]
    return result
lst = {1,2}
subsets(lst)

[[], [1], [2], [1, 2]]

**27. Find Duplicates Using a Set**

In [84]:
def find_duplicates_set(lst):
    seen = set()
    duplicates = set()
    for num in lst:
        if num in seen:
            duplicates.add(num)
        else:
            seen.add(num)
    return list(duplicates)

lst = [3,1,2,3,1,2,5,6]
find_duplicates_set(lst)

[1, 2, 3]

**28. Sum of n Natural Numbers**

In [85]:
def sum_of_n_numbers(n):
    return n * (n + 1) // 2
sum_of_n_numbers(10)

55

In [86]:
def sum_of_natural_numbers(n):
    total = 0
    for i in range(1, n + 1):
        total += i
    return total
n = 10
print(sum_of_natural_numbers(n))

55

**29. Check if a Number is Even or Odd**

In [87]:
def is_even_odd(n):
    return "Even" if n % 2 == 0 else "Odd"
is_even_odd(2)

'Even'

**30. Find Minimum Element in a List**

In [88]:
def find_minimum(lst):
    return min(lst)
lst = [34,1,108,67,69,56]
find_minimum(lst)

1

In [89]:
def find_minimum(lst):
  lst = sorted(lst)
  return lst[0]
lst = [34,1,108,67,69,56]
find_minimum(lst)

1

In [90]:
def find_min(lst):
    if len(lst) == 0:
        return None

    min_element = lst[0]
    for num in lst:
        if num < min_element:
            min_element = num
    return min_element


lst = [3, 5, 7, 2, 8, -1, 4, 10, 12]
print(find_min(lst))

-1

**31. Find Maximum Element in a List**

In [91]:
def find_maximum(lst):
    return max(lst)
lst = [34,1,108,67,69,56]
find_maximum(lst)

108

In [92]:
def find_maximum(lst):
  lst = sorted(lst)
  return lst[-1]
lst = [34,1,108,67,69,56]
find_maximum(lst)

108

In [93]:
def find_max(lst):
    if len(lst) == 0:
        return None  # If the list is empty, return None

    max_element = lst[0]  # Assume the first element is the largest initially
    for num in lst:
        if num > max_element:
            max_element = num  # Update max_element if a larger number is found
    return max_element


lst = [3, 5, 7, 2, 8, -1, 4, 10, 12]
print(find_max(lst))

12

**33. Convert Decimal to Binary**

In [94]:
def decimal_to_binary(n):
    return bin(n).replace("0b", "")
decimal_to_binary(7)

'111'

In [95]:
def decimal_to_binary(n):
    binary_num = []
    while n > 0:
        remainder = n % 2
        binary_num.append(str(remainder))  # Store remainder as string
        n = n // 2  # Update n to be the quotient of division by 2
    binary_num.reverse()  # Reverse the list to get the correct binary form
    return ''.join(binary_num)  # Join the list into a string

n = 4
print(decimal_to_binary(n))

100

**34. Convert Binary to Decimal**

In [96]:
def binary_to_decimal(binary):
    return int(binary, 2)
binary_to_decimal('111')

7

In [97]:
def binary_to_decimal(binary_str):
    decimal_value = 0
    binary_str = binary_str[::-1]  # Reverse the string to process from right to left
    for i in range(len(binary_str)):
        if binary_str[i] == '1':  # Only consider bits that are '1'
            decimal_value += 2**i  # Add the power of 2 corresponding to the position
    return decimal_value

binary_str = "1011"
print(binary_to_decimal(binary_str))

11